@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000;
  --secondary-color: #f1f1f1;
  --accent-color: #f44336;
  --text-color: #757575;
  --light-bg: #f1f1f1;
  --dark-bg: #000;
}

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply min-h-screen;
    line-height: 1.8;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
  }
}
